body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Styling for the Banner (if needed) */

/*
CORES
#735634
#F2C791
#D9AE89
#260902
#F2F2F2
*/

.color-brown {
    background-color: #735634;
}

#principal-text {
    background-color: #F2C791;
}

.carousel {
    width: 65%;
    margin: 0 auto; /* Centraliza o carousel */
}

.bg-white2{
    background-color: #F2F2F2;
}


/* Sidebar Styles */
aside h5 {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

aside ul li a:hover {
    background-color: #735634;
}

footer p {
    margin: 0;
}

#logo {
    height: 150px;
}